{% extends "base.html" %}

{% block contenido %}
    <!-- Bloque de contenido específico para esta plantilla -->

    <!-- Formulario para realizar una búsqueda -->
    <form action="" method="post">
        {% csrf_token %} <!-- Token de seguridad para proteger el formulario -->

        <!-- Etiqueta y campo de entrada para el nombre a buscar -->
        <label for="busqueda">Ingrese el nombre a buscar: </label>
        <input type="text" name="busqueda">

        <!-- Botón de envío del formulario -->
        <input type="submit" value="Enviar">

    </form>

{% endblock contenido %}
