{% extends "base.html" %}

{% block contenido %}
    <!-- Bloque de contenido específico para esta plantilla -->

    <!-- Formulario para llenar información -->
    <form action="" method="post">
        {% csrf_token %} <!-- Token de seguridad para proteger el formulario -->

        <!-- Mostrar los campos del formulario en formato de párrafo (as_p) -->
        {{ formulario.as_p }}

        <!-- Botón de envío del formulario -->
        <input type="submit" value="Enviar">

    </form>

{% endblock contenido %}
